# --- CORE CONFIGURATION ---
TIER_TYPE=normal
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
PHX_HOST=localhost
PORT=4000
REVOLUCHAT_SERVER_KEY=your_shared_secret_with_go_backend

# --- STORAGE & EXTERNAL SERVICES (SHARED) ---
STORAGE_ADAPTOR_MODE=cloudflareR2

# R2 Configuration
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_ACCOUNT_ID=xxx
R2_BUCKET=revoluchat
R2_PUBLIC_DOMAIN=xxx.r2.cloudflarestorage.com

# Cloudinary (Optional)
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# LiveKit (Optional)
LIVEKIT_URL=http://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# --- TIER 1: NORMAL (LOCAL ELIXIR STORAGE) ---
# Active if TIER_TYPE=normal
DATABASE_URL=ecto://postgres:postgres@localhost/revoluchat_dev
USER_SERVICE_GRPC_ENDPOINT=localhost:50051

# --- TIER 2: ADVANCE (EXTERNAL GO STORAGE) ---
# Active if TIER_TYPE=advance
CHAT_SERVICE_GRPC_ENDPOINT=localhost:50051
JWKS_URL=http://localhost:8089/jwks




# --- CORE CONFIGURATION ---
TIER_TYPE=advance
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
PHX_HOST=localhost
PORT=4000

# --- STORAGE & EXTERNAL SERVICES (SHARED) ---
STORAGE_ADAPTOR_MODE=cloudflareR2

# R2 Configuration
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_ACCOUNT_ID=xxx
R2_BUCKET=revoluchat
R2_PUBLIC_DOMAIN=xxx.r2.cloudflarestorage.com
R2_S3CLIENT_URL=https://xxx.r2.cloudflarestorage.com
TOKEN_AUTH=xxx

# Cloudinary & LiveKit
CLOUDINARY_URL=cloudinary://xxx@dypitcivk
LIVEKIT_URL=http://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# --- TIER 1: NORMAL (LOCAL ELIXIR STORAGE) ---
# Active if TIER_TYPE=normal
DATABASE_URL=ecto://postgres:postgres@host/revoluchat_dev

# --- TIER 2: ADVANCE (EXTERNAL GO STORAGE) ---
# Active if TIER_TYPE=advance
USER_SERVICE_GRPC_ENDPOINT=host:50055
CHAT_SERVICE_GRPC_ENDPOINT=host:50055
JWKS_URL=http://host:8181/api/v1/jwks