# --- CORE CONFIGURATION ---
TIER_TYPE=advance
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
SESSION_SIGNING_SALT=generate_with_mix_phx_gen_secret_or_any_random_string
PHX_HOST=localhost
PORT=4000
CSP_CONNECT_SRC="'self' wss: https: ws://localhost:* http://localhost:* ws://127.0.0.1:* http://127.0.0.1:*"


# --- STORAGE & EXTERNAL SERVICES (SHARED) ---
STORAGE_ADAPTOR_MODE=cloudflareR2

# R2 Configuration
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_ACCOUNT_ID=xxx
R2_BUCKET=revoluchat
R2_PUBLIC_DOMAIN=xxx.r2.cloudflarestorage.com
R2_S3CLIENT_URL=https://xxx.r2.cloudflarestorage.com
TOKEN_AUTH=xxx

# Cloudinary & LiveKit
CLOUDINARY_URL=cloudinary://xxx@dypitcivk
LIVEKIT_URL=http://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# CoTURN Config
COTURN_HOST=host
COTURN_PORT=3478
COTURN_SECRET=secret

# --- TIER 1: NORMAL (LOCAL ELIXIR STORAGE) ---
# Active if TIER_TYPE=normal
# --- DATABASE CREDENTIALS ---
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=revoluchat_dev
DB_HOST=localhost

# --- DATABASE URL (Menggabungkan variabel di atas) ---
DATABASE_URL=ecto://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}

# --- TIER 2: ADVANCE (EXTERNAL GO STORAGE) ---
# Active if TIER_TYPE=advance
USER_SERVICE_GRPC_ENDPOINT=host:50055
CHAT_SERVICE_GRPC_ENDPOINT=host:50055
JWKS_URL=http://host:8181/api/v1/jwks

# Fcm Configuration
FCM_PROJECT_ID = xxxx
FCM_CREDENTIALS='{}'

# use the same value on your sencond backend
REVOLUCHAT_GRPC_PORT=50059